/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 12pt;
  margin: 100px //find your best value
  max-width: 8.5in;
  padding: 1in 1in 1in 1in
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 18pt;
}